body{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased!important;
    -moz-font-smoothing:antialiased!important;
    text-rendering:optimizelegibility!important;
    overflow-x:hidden;
    font-family:Fira Sans,sans-serif
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading{
    position:absolute;
     border: 5px solid #f3f3f3;
     animation: spin 1s linear infinite;
     border-top: 5px solid #555;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     top: 10px;
     left: 10px;
}

.blogContent{
	margin-top: 3%;
}

.blogContent pre{
    padding: 16px;
     overflow: auto;
     font-size: 85%;
     line-height: 1.45;
     background-color: #f6f8fa;
     border-radius: 3px;
     font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
     font-size: 12px;
     margin-top: 0;
     margin-bottom: 16px;
     word-wrap: normal;
     display: block;
     white-space: pre;
     margin: 1em 0px;
}
.blogContent code{
    display: inline;
     max-width: auto;
     padding: 0;
     margin: 0;
     overflow: visible;
     line-height: inherit;
     word-wrap: normal;
     background-color: transparent;
     border: 0;
     font-size: 100%;
     word-break: normal;
     white-space: pre;
     background: transparent;
     border-radius: 3px;
     font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
     font-size: 12px;
}
.blogContent h1{
    padding-bottom: 0.3em;
     font-size: 2em;
     margin-bottom: 16px;
}
.blogContent h2{
    padding-bottom: 0.3em;
     font-size: 1.5em;
     margin-bottom: 16px;
     line-height: 1.25;
}

.blogContent h3{
    font-weight: bold;
}

.blogContent p{
    margin-top: 0;
     margin-bottom: 16px;
     display: block;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     font-size: 16px;
     line-height: 1.5;
}

